[submodule "runelite-client/src/main/java/net/runelite/client/plugins/extensions"]
	path = runelite-client/src/main/java/net/runelite/client/plugins/extensions
	url = http://github.com/ben93riggs/runelite_plugins
